<mat-card-header class="todo">
  <mat-card-title-group>
    @if (todo?.complete) {
    <mat-card-title appStrikethrough>
      {{ todo?.title }}
    </mat-card-title>
    } @else {
    <mat-card-title>
      {{ todo?.title }}
    </mat-card-title>
    } @if (todo?.dueDate){
    <mat-card-subtitle
      ><h5>{{ todo?.dueDate | date : "dd/MM/yy" }}</h5>
    </mat-card-subtitle>
    } @else{
    <h4>No Date</h4>
    } @if (todo?.description){
    <mat-card-subtitle>
      <h5>{{ todo?.description }}</h5>
    </mat-card-subtitle>
    } @else{
    <mat-card-subtitle> <h5>No description</h5></mat-card-subtitle>
    }

    <mat-checkbox (change)="todoDone()" color="primary"></mat-checkbox>
  </mat-card-title-group>
</mat-card-header>
