<!-- TODO: Replace todoList with todos$ DONE -->
<!-- TODO: Find a way to use only one 'async' pipe for all other uses of 'todos$' DONE-->

<div class="listContainer">
  @if(!isAdding) {
  <mat-card class="todoList">
    @if(todos$ |async; as todos){ @for (todo of todos; track $index) {
    <app-todo
      class="todoItem"
      [todo]="todo"
      (done)="doneTodo($event)"
    ></app-todo>
    }@empty {
    <li>
      <mat-card class="emptyTodos"
        ><mat-card-title>Sin todos Pendientes</mat-card-title>
        <mat-card-content
          ><img
            mat-card-md-image
            src="https://i.pinimg.com/originals/e7/75/0a/e7750ad1a9ff8db99c8ff8bb63b1d1b3.png"
            alt="Relax"
        /></mat-card-content>
      </mat-card>
    </li>
    }}
  </mat-card>
  } @if (isAdding && !isLoading) {
  <app-todo-form (newTodo)="todoAdd($event)"></app-todo-form>
  }
  <app-add-button class="addTodo" (add)="isAdding = true"></app-add-button>
</div>

<div>
  @if (isLoading && isAdding){
  <app-loading class="loading"></app-loading>
  }
</div>
<div>
  @if (error && !isAdding && !isLoading) {
  <h5 class="error">Ocurrio un error</h5>
  }
</div>
