<form class="form" [formGroup]="todoForm" (ngSubmit)="emitTodo()">
  <p>
    <mat-form-field>
      <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        @if (todoForm.controls['title'].errors?.['minlength'])
        {
          <mat-error>Title is too short</mat-error>
        }
        @else if
        (todoForm.controls['title'].errors?.['required'] &&
        (todoForm.controls['title'].dirty || todoForm.controls['title'].touched))
        {
          <mat-error>Title is required</mat-error>
        }
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
        @if (todoForm.controls['description'].errors?.['maxlength'] &&
        (todoForm.controls['description'].dirty ||
        todoForm.controls['description'].touched))
        {
          <mat-error>Too long</mat-error>
        }
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Due Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [min]="today"
        formControlName="dueDate"
        placeholder="Choose a date"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>calendar_view_day</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>
  <button mat-raised-button type="submit" [disabled]="todoForm.invalid">
    Guardar
  </button>
</form>
